@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.active {
  color: $active-color;
  font-weight: 600;
}

.circle {
  border-radius: 20px;
}

.square {
  border-radius: 2px;
}

.track {
  display: flex;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.1s ease-in;
  margin: 0 0.4rem;
  width: calc(100% - 0.8rem);
  box-sizing: border-box;
  border-radius: 20px;
  @include respond(phone) {
    padding: 0.3rem 0;
    gap: 0.4rem;
  }

  &:hover {
    background-color: $dark-grey-color;
    @include respond(phone) {
      background-color: transparent;
    }
    .track__number,
    .track__album,
    .track__noAudio {
      color: white;
    }

    .track__noAudio {
      font-weight: 600;
    }
  }

  &.disabled {
    cursor: not-allowed;
  }

  &__number {
    flex-basis: 7%;
  }

  &__image {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
    flex-basis: 40px;
    @include respond(phone) {
      width: 35px;
      height: 35px;
      margin-right: 0.6rem;
      flex-basis: 35px;
    }
  }

  &__mainTitle {
    flex-basis: 40%;
    @include respond(phone) {
      flex-basis: 45%;
    }
  }

  &__title {
    font-size: 1rem;
    font-weight: 600;
  }

  &__artists {
    @include respond(phone) {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__playIcon {
    flex-basis: 15%;
    color: transparent;
    @include respond(phone) {
      flex-basis: 10%;
    }
    &.active {
      color: $active-color;
    }
  }

  &__album {
    flex-basis: 30%;
    font-size: 0.9rem;
    color: $grey-color;
    font-weight: 400;
    @include respond(phone) {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__noAudio {
    flex-basis: 10%;
    font-style: italic;
  }

  &__number,
  &__artists,
  &__album,
  &__noAudio {
    font-size: 0.9rem;
    color: $grey-color;
    font-weight: 400;
  }
}
