/// Colors
$dark-black-color: #181818;
$dark-black-color-2: #1f1f1f;

$dark-grey-color: #2a2a2a;
$grey-color: #999797;
$light-blue-color: #4fc1ff;
$purple: #646cff;

$background-color: $dark-black-color;
$active-color: $light-blue-color;
