@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.songPlayer {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 110;
  background-color: $background-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 1rem;
  gap: 3rem;

  &.mobile {
    bottom: calc(-100vh + 54px);
    top: unset;
    z-index: 90;
    padding-top: 6rem;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    transition: all 0.4s ease-in-out;
    background: linear-gradient(
      to bottom,
      $dark-grey-color,
      $background-color 81%,
      $background-color
    );

    &.show {
      bottom: 0;
      z-index: 110;

      .details__image {
        width: 17rem;
        height: 17rem;
        object-fit: cover;
        flex-basis: 100%;
        border-radius: 2px;
        top: 6rem;
        left: calc(50% - 8.5rem);
      }

      .closeIcon {
        display: inline-block;
        position: absolute;
        z-index: 120;
        top: 4rem;
        right: 20px;
        opacity: 1;
        visibility: visible;
      }
    }

    .closeIcon {
      opacity: 0;
      visibility: hidden;
      transition: all 0.4s ease-in-out;
    }

    .details {
      flex-direction: column;
      &__image {
        position: absolute;
        width: 45px;
        height: 45px;
        left: 8px;
        top: 3.2px;
        transition: all 0.4s ease-in-out;
      }

      &__imagePlaceholder {
        width: 17rem;
        height: 17rem;
        margin-bottom: 2rem;
      }

      &__texts {
        text-align: center;
      }

      &__title {
        font-size: 1.2rem;
      }

      &__artists {
        font-size: 0.9rem;
      }
    }
    .audio {
      margin-top: auto;
      flex-basis: 100%;
      width: 90%;
    }

    .volume {
      flex-basis: 100%;
    }
  }

  .closeIcon {
    display: none;
  }

  .details {
    display: flex;
    flex-basis: 30%;
    align-items: center;

    &__image {
      width: 60px;
      height: 60px;
      margin-right: 1rem;
      flex-basis: 40px;
      border-radius: 2px;
    }

    &__title {
      font-size: 1rem;
      font-weight: 600;
    }

    &__artists {
      font-size: 0.9rem;
      color: $grey-color;
      font-weight: 400;
    }
  }

  .audio {
    flex-basis: 50%;
  }

  .volume {
    flex-basis: 20%;
  }
}
