@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.searchWrapper {
  min-height: 72vh;
  display: flex;
  flex-direction: column;
}

.search {
  position: relative;
  &__input {
    margin-bottom: 2rem;
    div {
      color: white;
      border-radius: 34px;
      box-sizing: border-box;

      &.Mui-focused {
        border: 2px solid red;
      }

      input {
        border: 2px solid white;
        border-radius: 34px;
        padding: 1rem 2.8rem 1rem 1rem;

        @include respond(phone) {
          padding: 0.7rem 2.4rem 0.7rem 1rem;
        }

        &:focus {
          border: 2px solid $light-blue-color;
        }
      }
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    pointer-events: none;
    @include respond(phone) {
      right: 13px;
    }
  }
}
